<div class="task themed-surface">
    <div class="task-header">
        <span id="task-id">{{ task()?.uid }}</span>
        @let statusIdentifier = (task()?.status) | statusToStatusIdentifier;
        <div [class]="'task-status ' + (task()?.status | statusToStatusIdentifier)">
            <span class="status-icon" [class]="statusIdentifier"></span>
           <span>{{ task()?.status }}</span>
        </div>
    </div>
    @let taskMetadata = {
        assignee: task()?.assignee,
        status: task()?.status,
        dueDate: task()?.dueDate

    };
    <p>{{ (task()?.title || '') | truncate:70 }}</p>
    <p>{{ (task()?.description || '') | truncate:100 }}</p>
    <app-task-metadata [taskMetadata]="taskMetadata" />
</div>
    